body {
  padding-top: 20px;
/**  padding-bottom: 40px; **/
  background-color: #070707;
}

.ctext {
    padding-top: 20px;
	padding-left: 20px;
}

.cmargin { margin-top:1.5%;
           margin-bottom:1.5%;
}


.bg-dark
{
  background-color: #070707;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #070707;
}

/* important */


a {
color: #969696 !important;
font-family: inherit !important;    
}